// $europaBold: "Europa Bold", Arial, sans-serif;
// $europaRegular: "Europa Regular", Arial, sans-serif;
// $europaThin: "Europa Thin", Arial, sans-serif;

$primary: #5bafba;
$secondary: #7289ea;
$tertiary: #3d4f9e;
$newsletterBtn: #77ccd6;

$navGray: #474751;

$titleGray: #3d3d3d;
$paraGray: #737373;

$darkGray: #646464;
$lightGray: #e8e8ed;
$footerGray: #474751;
$mediumGray: #c5c5c5;

$boxGray: #7c7c82;

$btnPrimary: #fb5e0f;
$btnGray: #e8e8ed;

$white: #ffffff;
$black: #000000;

$menuBoxShadow: rgba(0, 0, 0, 0.16);
